.cf-modlatest-image, .cf-modpopular-image{
	float: left;
	width: 20%;
}
.cf-modlatest-project-80, .cf-modpopular-project-80 {
	float: left;
	width: 80%;
}

.cf-modlatest-project-100, .cf-modpopular-project-100 {
	float: left;
	width: 100%;
}

.cf-modlatest-info, .cf-modpopular-info {
	font-size: xx-small;
}

.cf-modsearch {
	z-index: 1000;
}