@CHARSET "UTF-8";

/***** Extra images *****/

#js-extra-images-rows {
	margin-top: 50px;
}

.extra-image-row {
	border: thin solid #dcdcdc;
	margin: 20px 0px;
}

.extra-image-row img, .extra-image-row a {
	margin: 10px;
}

.extra-image-row:hover {
	background: #eaeaea;
}

/** Funding Furation **/

#jform_funding_days-lbl, #jform_funding_end-lbl {
    display: inline !important;
}