@CHARSET "UTF-8";

.icon-48-itp-projects 	    { background-image: url(../../images/projects_48.png); }
.icon-48-itp-add-project 	{ background-image: url(../../images/project_add_48.png); }
.icon-48-itp-edit-project 	{ background-image: url(../../images/project_edit_48.png); }
.icon-48-itp-countries       { background-image: url(../../images/countries_48.png); }
.icon-48-itp-country-new    { background-image: url(../../images/country_add_48.png); }
.icon-48-itp-country-edit   { background-image: url(../../images/country_edit_48.png); }
.icon-48-itp-types       { background-image: url(../../images/types_48.png); }
.icon-48-itp-new-type    { background-image: url(../../images/type_add_48.png); }
.icon-48-itp-edit-type   { background-image: url(../../images/type_edit_48.png); }
.icon-48-itp-emails       { background-image: url(../../images/emails_48.png); }
.icon-48-itp-new-email    { background-image: url(../../images/email_add_48.png); }
.icon-48-itp-edit-email   { background-image: url(../../images/email_edit_48.png); }
.icon-48-itp-logs       { background-image: url(../../images/logs_48.png); }
.icon-48-itp-logs-view    { background-image: url(../../images/logs_view_48.png); }
.icon-48-itp-updates 	    { background-image: url(../../images/updates_48.png); }
.icon-48-itp-edit-update	{ background-image: url(../../images/update_edit_48.png); }
.icon-48-itp-comments 	    { background-image: url(../../images/comments_48.png); }
.icon-48-itp-edit-comment	{ background-image: url(../../images/comment_edit_48.png); }
.icon-48-itp-locations 	    { background-image: url(../../images/locations_48.png); }
.icon-48-itp-add-location 	{ background-image: url(../../images/location_add_48.png); }
.icon-48-itp-edit-location 	{ background-image: url(../../images/location_edit_48.png); }
.icon-48-itp-transactions 	    { background-image: url(../../images/transactions_48.png); }
.icon-48-itp-edit-transaction	{ background-image: url(../../images/transaction_edit_48.png); }
.icon-48-itp-currency 	    { background-image: url(../../images/currency_48.png); }
.icon-48-itp-currency-new 	 { background-image: url(../../images/currency_new_48.png); }
.icon-48-itp-currency-edit	 { background-image: url(../../images/currency_edit_48.png); }
.icon-48-itp-tools 	    { background-image: url(../../images/tools_48.png); }
.icon-48-itp-dashboard 	{ background-image: url(../../images/dashboard_48.png); }

.icon-48-itp-rewards 	{ background-image: url(../../images/rewards_48.png); }
.icon-48-itp-edit-reward 	{ background-image: url(../../images/rewards_edit_48.png); }

.icon-48-itp-import 	{ background-image: url(../../images/import_48.png); }

.icon-32-itp-dashboard-back { background-image: url(../../images/dashboard_back_32.png); }
.icon-32-itp-projects-back { background-image: url(../../images/projects_back_32.png); }
.icon-32-itp-approve 	    { background-image: url(../../images/approve_32.png); }
.icon-32-itp-disapprove	 { background-image: url(../../images/disapprove_32.png); }
.icon-32-eye-open	 { background-image: url(../../images/eye_open_32.png); }

.crowdf-tools-form label {
	display: block;
}

.jgrid span.approve {
    background-image: url("../../images/approve_16.png");
}

.jgrid span.disapprove {
    background-image: url("../../images/disapprove_16.png");
}

.small{
	font-size: xx-small;
	margin-top: 3px;
}

#jform_funding_days-lbl, #jform_funding_end-lbl{
	clear: none !important;
	width: 100px !important;
	margin: 0 0 5px 5px !important;;
}

/***** Extra images *****/

#js-extra-images-rows {
	margin-top: 50px;
}

.extra-image-row {
	border: thin solid #dcdcdc;
	margin: 20px 0px;
}

.extra-image-row img, .extra-image-row a {
	margin: 10px;
}

.extra-image-row:hover {
	background: #eaeaea;
}

.cf-log pre, #js-file-preview {
	font-size: medium !important;
}
