@CHARSET "UTF-8";

span.help-block {
	font-style: italic;
	font-size: small;
}

#crowdf-funding-form span.help-block{
	width: 300px;
}

.navbar .nav > li > a.disabled {
    cursor: not-allowed;
}

#crowdf-funding-form .row-fluid:nth-child(2), 
#crowdf-funding-form .row-fluid:nth-child(3){
	margin-top: 20px;
}

#jform_funding_days-lbl, #jform_funding_end-lbl {
	display: inline;
}

.width_600px{
	width: 600px !important;
}

.width_400px{
	width: 400px !important;
}


.height_600px{
	height: 600px;
}

.reward-form {
	background-color: #f2f2f2;
	border: thin solid #6c6c6c;
	margin-bottom: 20px;
}

.reward-form-help {
	padding-left: 10px;
	font-weight: bold;
	color: black;
}

.reward-form {
	position: relative;
}
.btn_remove_reward {
	position: absolute;
	bottom:20px;
	right: 20px;
}


.pull-center {
	margin: 0 auto !important;
	text-align: center !important;
}

.cf-projects-list th {
	margin: 0 auto !important;
	text-align: center !important;
}

.cf-founder {
	font-size: xx-small;
}

.cf-details-block {
	margin-top: 10px;
}

.cf-border-bottom {
	border-bottom: thin solid #d1d1d1;
}

.cf-border-top {
	border-top: thin solid #d1d1d1;
}

.crowdf-embeded {
	margin-top: 5px;
	border-top: thin dashed #d1d1d1;
}

.cfinfo {
	background-color: #ebebeb;
   padding:10px;
   overflow: hidden;
}

.cfinfo-raised {
	font-size: 48px;
	margin: 20px 0;
	text-transform: uppercase;
	text-align: center;
}

.cfinfo-raised-of {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}


.cfinfo-days-raised img {
	margin: 5px 5px 10px 0px;
	vertical-align: middle;
}

.cfinfo-days, .cfinfo-percent {
	font-size: xx-large;
	text-align: center;
}

.cfinfo-days-wrapper, .cfinfo-percent-wrapper {
	width: 50%;
	float: left;
}

.cfinfo-funding-type{
	border-top: thin solid #b2b2b2;
	font-size: medium;
	font-weight: bold;
	padding: 10px 0px;
	margin-top:5px;
}

.cfinfo-funding-action {
	border-top: thin solid #b2b2b2;
	padding: 10px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

.cfinfo-funding-type-info {
	padding: 10px 0px;
	font-size: x-small;
}

/* START Rewards Navigation */

.cfrewards div.reward_title {
	text-transform: uppercase;
	font-weight: bold;
   color: #6c6c6c;
   cursor: text;
   border-bottom: none;
}

.cfrewards > div:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cfrewards > div  {
	 float: none;
	 margin-bottom: -1px;
    border: 1px solid #DDDDDD;
    
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;

}

.cfrewards > div > a {
	display: block;
}

.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > a:focus {
    border-color: #DDDDDD;
    z-index: 2;
}

div.reward:hover  {
	 border-color: #DDDDDD;
    z-index: 2;
    background-color: #EEEEEE;
    text-decoration: none;
}

/* END Rewards Navigation */


.ramount {
	color: black;
}

.rtitle, .rdesc {
	color: #6c6c6c;
}

.ramount {
	font-size: large;
	font-weight: bold;
	display: block;
	border-bottom: thin dashed gray;
   padding: 5px 0px;
}

.rtitle {
	font-size: medium;
	font-weight: bold;
	margin: 5px 5px 5px 0px;
	display: block;
}

.rdesc {
	display: block;
	font-size: small;
}

.embed-code {
	width: 100%;
	height: 150px;
}

.ml10 {
	margin-left: 10px;
}

.bl {
	border-left: thin solid #b2b2b2;
}

.pl10 {
	padding-left: 10px;
}

.tac {
	text-align: center;
}

.fzmfwbu{
	font-size: medium;
	text-transform: uppercase;
	font-weight: bold;
}

.pt5 {
	padding-top: 5px;
}

/* Backing */

.cfbr > li:first-child > a {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
   color: #6c6c6c;
   cursor: text;
}

.cfbr{
	margin-left: 0 !important;
}
.cfbr > li {
	padding-left: 0 !important;
}

.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 9px 9px;
    position: relative;
}

form.bs-docs-example {
    padding-bottom: 19px;
}

.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.cfbf {
	margin-top: 0 !important;
}

#form-pledge button{
	display: block;
	margin-top: 20px;
}

.cfinfo .well {
	background-color: #dfdfdf;
}

.cf-fund-result-state {
	border-bottom: thin dashed #aaaaaa;
	padding-bottom: 5px;	
	text-transform: uppercase;
}

.cf-frss {
	padding-top: 5px;	
	font-size: small;
}

.hr {
	border-bottom: thin dashed #afafaf;
	width: 100%;
}
.padding-tb-5px {
	padding: 5px 0px !important;
}

.margin-tb-15px {
	margin: 15px 0px !important;
}

.cf-update-item, .cf-comment-item {
	padding: 15px 0px;
	position: relative;
}

.cf-info-bar {
	background-color: #ffffe8;
	border: thin solid #d1d1d1;
	padding: 5px;
}

.button-large {
	padding: 5px 30px !important;
}

.button[disabled] {
  background-color: #d9d9d9;
  cursor:not-allowed;
}

.cursor-help {
	cursor: help;
}

.cf-transactions th{
	text-align: center;
}

.cf-funder-row {
	padding: 10px;
	border-bottom: thin dashed gray;
}

.cf-raise-capital-intro{
	font-size:x-large;
	font-style: italic;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	
}

.thumbnail > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.cf-projects-list .button:hover{
	color: white; 
}